<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.amlun.workflows.weather</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>51A282F1-926A-4D0F-9686-9F0F9D910755</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>492F630C-7D02-4C35-9C51-8DAFE4ADA56B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>amlun</string>
	<key>description</key>
	<string>中国天气</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>China Weather</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>输入城市名称</string>
				<key>script</key>
				<string>php -f query.php "{query}"</string>
				<key>subtext</key>
				<string>请输入中国城市的全称</string>
				<key>title</key>
				<string>输入城市名</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>51A282F1-926A-4D0F-9686-9F0F9D910755</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>492F630C-7D02-4C35-9C51-8DAFE4ADA56B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>获取中国各个城市的天气</string>
	<key>uidata</key>
	<dict>
		<key>492F630C-7D02-4C35-9C51-8DAFE4ADA56B</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>51A282F1-926A-4D0F-9686-9F0F9D910755</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.amlun.com</string>
</dict>
</plist>
